.admin-details-container {
    display: flex;
    gap: 40px;
    padding: 40px;
}

.admin-left {
    display: flex;
    gap: 20px;
}

.thumbnail-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.thumb {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border: 2px solid #ccc;
    cursor: pointer;
}

    .thumb.active {
        border: 2px solid #ff9900;
    }

.main-image-box img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.admin-right {
    flex: 1;
}

.admin-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

    .admin-table th,
    .admin-table td {
        padding: 10px;
        border: 1px solid #ddd;
    }

.admin-actions {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.edit-btn {
    background: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.delete-btn {
    background: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
