.dashboard-container {
    padding: 40px;
    background: #f4f6fb;
    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
}
.notification {
    position: relative;
    display: inline-block;
}

.bell-icon {
    font-size: 22px;
    color: #1e293b;
    cursor: pointer;
}

/* Small red dot */
.notification-dot {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 8px;
    height: 8px;
    background-color: #ef4444;
    border-radius: 50%;
    border: 2px solid white; /* clean look */
}

/* Navbar */
.dashboard-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fffefc;
    padding: 20px 30px;
    border-radius: 12px;
    margin-bottom: 30px;
}

    .dashboard-navbar h1 {
        margin: 0;
        font-size: 26px;
        color: black;
    }

.menu {
    display: flex;
    list-style: none;
    gap: 40px;
    margin: 0;
    padding: 0;
}

    /* ===== MENU LINKS ===== */
    .menu li a {
        text-decoration: none;
        color: #1a1b1c;
        font-size: 15px;
        font-weight: 500;
        position: relative;
        padding: 5px 0;
        transition: all 0.3s ease;
    }

        /* Hover Glow Effect */
        .menu li a:hover {
            color: #121111;
        }

        /* Animated underline */
        .menu li a::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -6px;
            width: 0%;
            height: 2px;
            background: black;
            transition: width 0.3s ease;
        }

        .menu li a:hover::after {
            width: 100%;
        }

/* Cards */
.dashboard-cards {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
}

.card {
    flex: 1;
    background: white;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
    text-align: center;
    transition: 0.3s;
}

    .card:hover {
        transform: translateY(-5px);
    }

    .card h2 {
        font-size: 18px;
        color: #555;
    }

    .card p {
        font-size: 28px;
        font-weight: bold;
        margin-top: 10px;
        color: #6366f1;
    }

/* Chart Section */
.chart-section {
    background: white;
    padding: 30px;
    border-radius: 16px;
    margin-bottom: 40px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}

/* Latest Products */
.latest-products {
    background: white;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}



.product-card {
    background: #f9fafb;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    transition: 0.3s;
}

    .product-card:hover {
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    }

    .product-card img {
        width: 100%;
        height: 120px;
        object-fit: cover;
        border-radius: 10px;
        margin-bottom: 10px;
    }

.loader {
    text-align: center;
    padding: 100px;
    font-size: 20px;
}
@media (max-width: 1024px) {
    .products-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .products-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
