.listing-container {
    padding: 40px;
    background: #f5f5f5;
    min-height: 100vh;
}

.page-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: 600;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 25px;
}

.product-card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

    .product-card:hover {
        transform: translateY(-8px);
        box-shadow: 0 10px 22px rgba(0, 0, 0, 0.15);
    }

.image-container {
    width: 100%;
    height: 220px;
    overflow: hidden;
    background: #fafafa;
}

    .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.4s ease;
    }

.product-card:hover img {
    transform: scale(1.1);
}

.product-info {
    padding: 15px;
}

    .product-info h3 {
        font-size: 18px;
        margin-bottom: 6px;
        font-weight: 600;
    }

.category {
    font-size: 14px;
    color: #777;
    margin-bottom: 8px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #2e7d32;
    margin-bottom: 8px;
}

.desc {
    font-size: 13px;
    color: #555;
}

.notification {
    position: relative;
    display: inline-block;
}

.bell-icon {
    font-size: 22px;
    color: #1e293b;
    cursor: pointer;
}

/* Small red dot */
.notification-dot {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 8px;
    height: 8px;
    background-color: #ef4444;
    border-radius: 50%;
    border: 2px solid white; /* clean look */
}

/* Navbar */
.dashboard-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fffefc;
    padding: 20px 30px;
    border-radius: 12px;
    margin-bottom: 30px;
}

    .dashboard-navbar h1 {
        margin: 0;
        font-size: 26px;
        color: black;
    }

.menuu {
    display: flex;
    list-style: none;
    gap: 40px;
    margin: 0;
    padding: 0;
}

    /* ===== MENU LINKS ===== */
    .menuu li a {
        text-decoration: none;
        color: #1a1b1c;
        font-size: 15px;
        font-weight: 500;
        position: relative;
        padding: 5px 0;
        transition: all 0.3s ease;
    }

        /* Hover Glow Effect */
        .menuu li a:hover {
            color: #121111;
        }

            /* Animated underline */


            .menuu li a:hover::after {
                width: 100%;
            }
